:root {
	--default-gap: 0.25em;
	--pico-font-size: 12px;
	--pico-spacing: var(--default-gap);
	--pico-form-element-spacing-vertical: var(--default-gap);
	--pico-form-element-spacing-horizontal: var(--default-gap);
}

/* MENU */
menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: var(--default-gap);
}

menu label[for="#upload"] {
	display: inline-block;
}

menu label[for="#upload"] input {
	display: none;
}

/* TABLE */
table td {
	text-align: right;
}

button[title="remove"] {
	aspect-ratio: 1/1;
	min-width: 2em;
}

table select {
	width: fit-content;
}

table input,
table select {
	margin-bottom: 0 !important;
}

section {
	overflow: auto;
}

/* NUMBER */
.fill {
	display: flex;
	justify-content: space-between;
}

.money::before {
	content: '$';
}

.positive {
	color: var(--pico-ins-color);
}

.negative {
	color: var(--pico-del-color);
}
