:root {
	--pico-font-size: 12px;
	--pico-spacing: 0.25em;
	--pico-form-element-spacing-vertical: 0.25em;
	--pico-form-element-spacing-horizontal: 0.25em;
}

select {
	width: fit-content;
}

.money::before {
	content: '$';
}

.positive {
	color: var(--pico-ins-color);
}

.negative {
	color: var(--pico-del-color);
}

label[for="#upload"] {
	display: inline-block;
}

label[for="#upload"] input {
	display: none;
}

aside {
	display: flex;
	gap: 1em;
}
